@font-face {
  font-family: 'Proxima Soft';
  src: url('./font/ProximaSoft-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Proxima Soft';
  src: url('./font/ProximaSoft-Regular.ttf') format('truetype');
  font-weight: normal
}

body {
  margin: 0;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%
}

* {
  box-sizing: border-box;
}

.map-container {
  height: 100%;
  width: 100%;
}