@font-face {
  font-family: 'Proxima Soft';
  src: url('./font/ProximaSoft-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Proxima Soft';
  src: url('./font/ProximaSoft-Regular.ttf') format('truetype');
  font-weight: normal
}

body {
  margin: 0;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%
}

* {
  box-sizing: border-box;
}

.map-container {
  height: 100%;
  width: 100%;
}

.gm-style .gm-style-iw-d {
  padding: 18px 0 8px 18px;
}

.gm-style .gm-style-iw {
  padding: 0;
}

.gm-ui-hover-effect {
  top: -3px !important;
  right: -3px !important;
}